<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>RoutePlanner </title>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="header">Header</div>
        <div id="topsidebar">
            <div>
                <div>Home</div>
            </div>
        </div>
        <div id="mainContent">
            <div id="sidebar">
                <div id="planner">
                    <ul>
                        <li><a href="#tabs-1">规划路线</a></li>
                        <li><a href="#tabs-2">找地方</a></li>
                    </ul>
                    <div id="tabs-1">
                        @Html.Label("开始：")@Html.TextBox("StartInput")
                        @Html.Label("结束：")@Html.TextBox("EndInput")
                    </div>
                    <div id="tabs-2">
                        地址：@Html.TextBox("LocationSearchInput")

                    </div>
                </div>
            </div>
            <div id="content">antmap</div>
        </div>
    </div>
</body>
